<div  *ngIf="zorgverzekeraar">
    <h3>Bewerken</h3>
    <div><span>{{zorgverzekeraar.name}}</span></div>
    <label>
      Naam <input class="text"/>
    </label>
    <div> Rol
      <select>
        <option value=0>ZVZ</option>
        <option value=1>Lokaal</option>
        <option value=2>Contant</option>
      </select>
    </div>
    <div> Tag
        <select>
          <option value=0>Achmea</option>
          <option value=1>VGZ</option>
          <option value=2>Menzis</option>
          <option value=3>CZ</option>
          <option value=4>DSW</option>
          <option value=5>Zilveren Kruis</option>
          <option value=6>CVZ</option>
          <option value=7>AGIS</option>
        </select>
    </div>
    <div>
        <button (click)="save()">save</button>
    </div>
</div>
