<div>
  <h3>Filters</h3>
  <div>
    Naam <input type='text'/>
  </div>
  <div> Rol
    <select>
      <option value=0>ZVZ</option>
      <option value=1>Lokaal</option>
      <option value=2>Contant</option>
    </select>
  </div>
  <div> Tag
      <select>
        <option value=0>Achmea</option>
        <option value=1>VGZ</option>
        <option value=2>Menzis</option>
        <option value=3>CZ</option>
        <option value=4>DSW</option>
        <option value=5>Zilveren Kruis</option>
        <option value=6>CVZ</option>
        <option value=7>AGIS</option>
      </select>
  </div>
  <div>
    <input type='checkbox' id="inactief"/><label for="inactief">Inactief tonen</label>
    <button>Filters toepassen</button>
  </div>
</div>
