<app-bewerken [zorgverzekeraar]="selectedZorgverzekeraar"></app-bewerken>

<table>
  <thead>
    <tr>
      <th>Naam</th>
      <th>Rol</th>
      <th>Tag</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor='let contract of contractpartijen'>
        <td>{{contract.name}}</td>
        <td>{{contract.role}}</td>
        <td>{{contract.tag}}</td>
        <td>Actief
          <button class="delete" (click)="delete(contract)">Delete</button>
          <button (click)="onSelect(contract)">Edit</button>
        </td>
      </tr>
  </tbody>
